
.footer {
   background-color:#dadada;
   padding: 15px 0 10px 0;
   font-size: 12px;
   width: 100%;
   align-self: flex-end;
}

.footer label {
   color: #333;
   display: block;
   text-align: center;
   text-decoration: underline;
}
