.Apps {
   text-align: center;
   display: flex;
   min-height: 100vh;
   align-items: center;
   justify-content: center;
   background-image:"/images/about.avif";
   background-color: rgb(228, 248, 255);

}

.auth-form-container, .login-form, .register-form {
   display: flex;
   flex-direction: column;
}
@media screen and (min-width: 600px) {
   .auth-form-container {
      padding: 5rem;
      border: 1px solid whilte;
      border-radius: 10px;
      margin: 0.5rem;
   }
}


label {
   text-align: left;
   padding: 0.25rem 0;
}

input {
   margin: 0.5rem 0;
   padding: 1rem;
   borde: none;
   border-radius: 10px;
}

button {
   border: none;
   background-color: white;
   padding: 20px;
   border-radius: 10px;

}

.link-btn {
   background: none;
   color: blue;
   text-decoration: underline;
}
